

<div class="tech-btm widget_social">
	
	
							<h4>Sosyal Medya Hesaplarımız</h4>
							<ul>
								<div class="row">
										<div class="col-md-6">
											<li>
												<a href="https://www.instagram.com/adil.ustt/" >
												<img  src="/images/instagram.png" style="max-width:100%;"/>
												</a>
									
											</li>
										</div>

										<div class="col-md-6">
											<li>
												<a href="https://www.linkedin.com/in/adilusta/" >
												<img  src="/images/linkedin.png" style="max-width:100%;"/>
												</a>
									
											</li>
										</div>
								</div>
								<div class="row">
										<div class="col-md-6">
											<li>
												<a href="https://github.com/Adilusta" >
												<img  src="/images/github.png" style="max-width:100%;"/>
												</a>
									
											</li>
										</div>

									<div class="col-md-6">
										<li>
											<a href="mailto:adilusta4@gmail.com" >
											<img  src="/images/gmail.png" style="max-width:100%;"/>
											</a>
									
										</li>
									</div>
								</div>

							@*	<li>
									<a class="twitter" href="#">
										<i class="fab fa-twitter"></i>
										<span class="count">317K</span> Twitter Followers</a>
								</li>*@


						@*		<li>
									<a class="facebook" href="#">
										<i class="fab fa-facebook-f"></i>
										<span class="count">218k</span> Twitter Followers</a>
								</li>*@
							
							</ul>
						</div>