

@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@*<script src="~/lib/jquery/dist/jquery.js"></script>*@



	<div class="tech-btm">
		<form method="post">
			<input  type="email" id="txtmail" name="Mail" class="tech-btm" required="" />
			<input  type="submit" id="btnSubscribe" value="Abone Ol" />
		</form>
	</div>

	<script type="text/javascript">
		$("#btnSubscribe").click(function(){
			let values= {
				Mail:$("#txtmail").val() //Mail = veritabanındaki değerimiz.
			};

			$.ajax({
				type:"post",
				url:"/NewsLetter/SubscribeMail/",
				data:values,
				success:function(func){
					let result=jQuery.parseJSON(func);

				}
			});
		}); 
	</script>

@*<div class="tech-btm">
						
							<p>Güncel haberler ve duyurlardan haberdar olmak için mail bültenimize abone olun.</p>
							<form action="/NewsLetter/SubscribeMail/" method="post">
								<input type="email" placeholder="Email" name="Mail" required="">
								<input type="submit" id="btnMail" value="Abone Ol">
							</form>

						</div>
						<script>
			$('#btnMail').click(function() {

				swal("Tebrikler" ,"Mail bültenimize başarıyla kayıt oldunuz","success");
				



			});
		</script>*@