
@using CoreDemo.Areas.Admin.Models
@model AdminMailBoxViewModel

<ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/InBox/"> <i class="fa fa-inbox "> </i> Gelen Mesajlar
                                    <span class="label label-warning float-right">@Model.IncomingMessageCount </span> </a></li>
                                <li><a href="/Admin/AdminMessage/SendBox/"> <i class="fa fa-envelope-o"></i> Giden Mesajlar  <span class="label label-warning float-right">@Model.OutgoingMessageCount </span>
                                    </a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Önemli Mesajlar</a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Taslaklar
                                    <span class="label label-danger float-right">2</span></a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
</ul>                            
                            