@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Category>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>*@
<h1>Kategoriler</h1>
<br />

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Kategori Adı</th>
			<th>Sil</th>
			<th>Düzenle</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
				<tr>
					<th>@item.CategoryID</th>
					<td>@item.CategoryName</td>
					<td >
					<a href="/Admin/Category/DeleteCategory/@item.CategoryID/" id="DeleteBtn" 
				onclick="return confirm('Silmek istediğinize emin misiniz');
				" class="btn btn-danger"> Sil</a> 

					</td>
					<td > <a href="/Admin/Category/EditCategory/@item.CategoryID" class="btn btn-success"> Düzenle</a> </td>
				</tr>
		}
	</tbody>

</table>


	@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}),new PagedListRenderOptions{
	LiElementClasses= new string[]{"page-item"},
	PageClasses= new string[]{"page-link"}
	})

<a href="/Admin/Category/AddCategory/" class="btn btn-primary">Yeni kategori </a>
<br /><br />