 <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-refresh"></i> Yenile</button>
                        
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" >
                        <i class="fa fa-eye"></i> Okundu olarak işaretle </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" >
                        <i class="fa fa-exclamation"></i> Önemli olarak işaretle </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" >
                        <i class="fa fa-trash-o"></i> Çöp kutusuna taşı </button>
                </div>