
@using EntityLayer.Concrete
@{
    // ViewBag'den verileri alın
    //var messageCount =(int) ViewBag.MessageCount;
    var messageCount = ViewBag.MessageCount;
}

<div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a  class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/ComposeMessage/">Mesaj Oluştur</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                         
                      @await Component.InvokeAsync("AdminMailBox")
                            <h5>Kategoriler</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#"> <i class="fa fa-circle text-navy"></i> İş </a></li>
                                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Dökümanlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Sosyal</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-info"></i> Tanıtımlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Talepler</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
    </div>