<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                    <h3>Hakkımızda  </h3>
                    <p>Merhaba,ben Adil Usta. Düzce Üniversitesi bilgisayar mühendisliği 4.sınıf öğrencisiyim. Bu proje bir blog projesidir. Kayıt olup yazar paneline erişebilirsiniz.Yazar panelinde profil bilgilerinizi görebilir ve bilgilerinizi güncelleyebilirsiniz. Blog yazısı ekleyebilir,varolan bloglarınızı güncelleyebilir veya silebilirsiniz...</p>
                    <div class="read">
                        <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                    </div>
                </div>
               @await Component.InvokeAsync("BlogLastThreePosts")
                <!-- subscribe -->
                <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                    <h2>Bize Ulaşın</h2>
                     <div class="read">
                        <a href="/Contact/Index" class="btn btn-primary read-m">Bize Ulaşın</a>
                    </div>
                @*@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")*@
                    <!-- //subscribe -->
                </div>
            </div>
            <!-- footer -->
            <div class="footer-cpy text-center">
                
                <div class="w3layouts-agile-copyrightbottom">
                    <p>© @DateTime.Now.Year Asp.Net Core 5.0 Proje Kampı | Design by
                        <a href="https://github.com/Adilusta/">Adil Usta</a>
                    </p>

                </div>
            </div>

            <!-- //footer -->


        </div>
    </footer>