
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yazar Paneli</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writertema/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writertema/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/writertema/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/writertema/assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:~/writertema/partials/_navbar.html -->
      @await Html.PartialAsync("~/Views/Writer/WriterHeaderPartial.cshtml")
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:~/writertema/partials/_sidebar.html -->
            @await Html.PartialAsync("~/Views/Writer/WriterNavbarPartial.cshtml")
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
       @RenderBody() 
          </div>
          <!-- partial:~/writertema/partials/_footer.html -->
       @await Html.PartialAsync("~/Views/Writer/WriterFooterPartial.cshtml")
          <!-- partial -->
          
        </div>

      </div>

    </div>

    @*SCRIPTS*@
    <script src="~/writertema/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/writertema/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/writertema/assets/js/off-canvas.js"></script>
    <script src="~/writertema/assets/js/hoverable-collapse.js"></script>
    <script src="~/writertema/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/writertema/assets/js/dashboard.js"></script>
    <script src="~/writertema/assets/js/todolist.js"></script>

   
  </body>
</html>
 
