
@using CoreDemo.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form method="post"> 
    <label>Çalışan adı soyadı:</label>
    <input type="text" asp-for="@Model.Name" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-info"> Çalışan ekle</button>
</form>

