
@{
    Layout = null;
}


<h1>
    <a style="color:red" href="/Blog/Index/">Yazar paneli şu an yapım aşamasında,ana sayfaya dönmek için tıklayınız</a>
    <br />
    <h1>@ViewBag.v</h1>
    <h2>@ViewBag.v2</h2>
</h1>
